## ignore files

Node/build/
Node/dist/
Node/nbproject/private

*.directory

overlayNetworkNode/nbproject/private/
overlayNetworkNode/dist/
overlayNetworkNode/build/

overlayNetworkManager/nbproject/private/
overlayNetworkManager/dist/
overlayNetworkManager/build/
