## ignore files

Node2/nbproject/private/
Node2/build/
Node2/dist/

NodeDatagramSocketV2/nbproject/private/
NodeDatagramSocketV2/build/
NodeDatagramSocketV2/dist/

ControllerV2/nbproject/private/
ControllerV2/build/
ControllerV2/dist/

*.directory
